# Defaults
[*]
charset = utf-8
end_of_line = crlf
indent_style = tab
insert_final_newline = true
trim_trailing_whitespace = true

# Scripts
[*.{cs,py}]
trim_trailing_whitespace = false

# Config Files, match S.E. conventions
[*.{sbc,xml}]
indent_style = space
indent_size = 2
